* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-white: hsl(0, 0%, 100%);
    --color-violet: hsl(257, 40%, 49%);
    --color-violet-hover: hsl(257, 40%, 37%);
    --color-soft-magenta: hsl(300, 69%, 71%);
}

body {
    background-color: var(--color-violet);
    color: var(--color-white);
}

#app {
    margin: 0 3.2rem;
}

.mockups img {
    width: 100%;
}

.mockups {
    margin-top: 5.0rem;
    position: relative;
}

.bg-svg {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.introduction {
    margin-top: 9.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
}

.introduction h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
}

.introduction p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    padding: 0 2.4rem;
}

.btn-register {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--color-violet);
    padding: .8rem 6.2rem;
    border: none;
    border-radius: 3.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition: 0.3s;
}

.btn-register:hover {
    background-color: var(--color-violet-hover);
    color: var(--color-white);
    cursor: pointer;
}