* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-white: hsl(0, 0%, 100%);
    --color-violet: hsl(257, 40%, 49%);
    --color-violet-hover: hsl(257, 40%, 37%);
    --color-soft-magenta: hsl(300, 69%, 71%);
    --color-dark-blue: hsl(220, 46%, 48%);
    --color-light-blue: hsl(203, 89%, 53%);
}

body {
    background-color: var(--color-violet);
    color: var(--color-white);
}

#app {
    margin: 0 3.2rem;
}

header img {
    width: 42%;
    margin-top: 3.2rem;
}

.mockups img {
    width: 100%;
}

.mockups {
    margin-top: 5.4rem;
    position: relative;
}

.bg-svg {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}

.introduction {
    margin-top: 9.6rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.0rem;
    text-align: center;
}

.introduction h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.4rem;
}

.introduction p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 160%;
    padding: 0 2.4rem;
}

.btn-register {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--color-violet);
    padding: .8rem 6.2rem;
    border: none;
    border-radius: 3.2rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    transition: 0.3s;
}

.btn-register:hover {
    background-color: var(--color-violet-hover);
    color: var(--color-white);
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-top: 7.2rem;
    font-size: 3.2rem;
}

footer i:hover {
    cursor: pointer;
}

footer .facebook:hover {
    color: var(--color-dark-blue);
}

footer .twitter:hover {
    color: var(--color-light-blue);
}

footer .instagram:hover {
    color: var(--color-soft-magenta);
}

@media (min-width: 768px) {
    #app {
        margin: 0 8.0rem;
    }

    header img {
        margin-top: 5.6rem;
    }

    .bg-svg {
        position: absolute;
        width: 100%;
    }

    .mockups {
        margin-top: 11.2rem;
    }

    .introduction {
        margin-top: 9.6rem;
    }

    .introductionh h1 {
        font-size: 4.0rem;
    }

    .introduction p {
        font-size: 2.0rem;
    }

    .btn-register {
        font-size: 1.6rem;
        padding: 1.6rem 9.6rem;
    }

    footer {
        margin-top: 4.8rem;
    }
}